.headerTop
{
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    color: var(--text-color1);
}

.headerTop__setup
{
    display: flex;
}

.headerTop__setup--option
{
    margin-left: 10px;
    cursor: pointer;
    background-color: white;
    border: none;
}

.headerNavbar
{
    margin: 5px 15px;
    height: 55px;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.headerNavbar__logo
{
    height: 41px;
}

.headerNavbar__search
{
    margin-left: 40px;
    height: 37px;
    width: 900px;
    border: 1px solid #a4a4a4;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.headerNavbar__search--btnSelect
{
    height: 36px;
    width: 130px;
    border: none;
    border-right: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    text-align: center;
    background-color: #f6f6f6;
}

.headerNavbar__search--btnSelect:hover
{
    background-color: #e8e8e8;
}

.headerNavbar__search--input
{
    height: 36px;
    flex: 1;
    margin: 0;
    border: none;
    padding: 10px;
    font-size: 14px;
    outline: none;
}

.headerNavbar__search--btnSearch
{
    margin-left: 50px;
    height: 36px;
    width: 44px;
    background-color: #e2012d;
    border: none;
    border-left: 1px solid #ccc;
    cursor: pointer;
    color: white;
}

.headerNavbar__search--btnSearch:hover
{
    background-color: #ff0033;
}

.headerNavbar__advancedSearch
{
    margin-left: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #333;
    width: 94px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background: #f6f6f6;
    cursor: pointer;
    font-size: 12px;
}

.headerNavbar__advancedSearch:hover
{
    background-color: #e8e8e8;
}

.headerNavbar__list
{
    display: flex;
    align-items: center;
    text-align: center;
    flex: 1;
    
}

.headerNavbar__list--elements
{
    color: var(--text-color2);
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    cursor: pointer;
}
